@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto&display=swap');

/* font-family: 'Kdam Thmor Pro', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

header h1{
  padding: 1rem 0 0;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 3rem;
  text-align: center;
}

.flex-box-one{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:4px;
}

.flex-box-one div{
  flex:1 1 auto;
  border:4px solid black;
  text-align:center;
  padding: 3rem 0.5rem;
  font-size:1.5rem;
  font-weight:900;
  cursor:pointer;
  width: 15rem;
}

/* Board-Game
--------------------*/
.flex-box-two>div:first-child{
  text-align:center;
  font-size: 1.5rem;
  margin: 1rem 2rem 2rem;
}

#display{
  text-align:center;
}

canvas{
  height: 27rem;
  width: 27rem;
  margin: auto;
}

/* Media Queries
------------------------------*/
@media screen and (min-width: 40rem){
  .flex-box-one{
    margin: 0 15%;
  }
}

@media screen and (max-width: 40rem){
  canvas{
    width: 85vw;
    height: 85vw;
  }
}

/* Game Condition
------------------------------*/
.win-display#x-win{
  font-weight:900;
  font-size:4rem;
  margin: 0rem 0rem 2rem 0rem; 
  color: blue;
  font-family: sans-serif;
  font-style: bold;
}

.win-display#o-win{
  font-weight:900;
  font-size:4rem;
  margin: 0rem 0rem 2rem 0rem; 
  color: red;
  font-family: sans-serif;
  font-style: bold;
}

.win-display#tie{
  font-weight:900;
  font-size:4rem;
  margin: 0rem 0rem 2rem 0rem; 
  color: black;
  font-family: sans-serif;
  font-style: bold;
}

#player-score{
	display: flex;
	justify-content: center;
	font-size: 3rem;
	letter-spacing: 2rem;
}

#lower-page-buttons{
	display: flex;
	justify-content: center;
	width: 60vw;
	margin: auto;
	padding: 2rem;
  gap: 2vw;
  flex-wrap: wrap;
}

#lower-page-buttons div{
	background-color: #d5d5d5;
	flex: 1 1 100%;
	text-align: center;
	font-size: 1.5rem;
	padding: 2vh;
	border: 2px solid black;
	border-radius: 15px;
  cursor: pointer;
}
